$azure: #2196f3;
$cerulean: #0277bd;
$charcoal-grey: #4d4d4e;
$white: #fff;
$white-two: rgba(255, 255, 255, 0.87);
$grey: #eeeeee;
$warm-grey: #999999;
$border: #d6d5d5;
$warm-pink: #ff3e81;

$sidebar-width: 257px;
$container-width: 1100px;
$p-info-width: 432px;

$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font21: 21px;
$font24: 24px;
$font35: 35px;
